.main-container {
    background-color: #9DBEBB;
    width: 1440px;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px black;
}

.sub-container {
    display: inline-flex;
    position: absolute;
    width: 954px;
    height: 594px;

}

.form-container {
    position: relative;
    width: 600px;
    height: 594px;
    background-color: #BE0909;


}

.duck-form {
    padding: 50px;
}

.duck-image {
    position: absolute;
    left: 330px;
    top: 50px;
    z-index: 10;
    opacity: 100%;
}

.side {
    position: relative;
    width: 345px;
    height: 594px;
    background-color: #FFB039;
}


.label-name,
.label-email,
.label-password,
.label-message,
.label-msg-regarding {
    display: block;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
    color: #FEFFFF;
}

.name,
.email,
.password,
.msg-regarding,
.message {
    border: none;
    outline: none;
    border: 0;
    margin-left: 20px;
    margin-bottom: 10px;
    border-width: 0;
    box-shadow: none;
    border-bottom: 1px solid #9DBEBB;
    cursor: text;
    width: 75%;
    background: none;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    letter-spacing: 0.1em;
    color: #FEFFFF;
    resize: none;
}

.email,
.password,
.msg-regarding {
    width: 50%;
}

.msg-regarding {
    cursor: pointer;
}

.email::placeholder,
.password::placeholder,
.message::placeholder {
    display: block;
    margin-left: 20px;
    cursor: text;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    letter-spacing: 0.3em;
    opacity: 1;
    color: #FDFFFF;
}

.form-button {

    display: block;
    align-self: center;
    width: 202px;
    height: 48px;
    margin: 20px;
    cursor: pointer;
    background: #468189;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
    border-radius: 40px;

    border: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    position: relative;
    left: 100px;
    color: #FFFFFF;
}

input[type=text]:hover,
input[type=email]:hover,
input[type=password]:hover,
input[type=select]:hover,
textarea:hover {
    border-bottom: 1px solid #fbe305;
}

.form-button:hover {
    background: #FFFFFF;
    color: #468189;
}